* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}

.foto{
    width:100%;
    height:100%;
    z-index: 0;
}

#escorregue{
    position:fixed;
    margin: auto;
    margin-top: 60%;
    z-index: 10;
    color: white;
    text-shadow: 1px 1px 3px #444444;
    font-size:9%;
}